@{
    ViewData["Title"] = "Pagina Inicial";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<div style="line-height: 1.6; padding: 20px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); max-width: 800px; margin: auto; text-align: left;">
    <h2 style="text-align: center;">Format</h2>
    <p>
        O UGB-Format é uma ferramenta criada para formatar automaticamente os trabalhos acadêmicos em harmonia com o Manual de Formatação Acadêmica do UGB. Ou seja, o aplicativo pode formatar seu Artigo Científico (TCC) ou seu Projeto de Pesquisa.
    </p>
    <p>
        Essa ferramenta apresenta alguns benefícios como: paginação, sumário, lista, tabela, ilustração, citações, referências e outros, tudo de forma automática. Ressaltamos que para maior funcionalidade você deve digitar seu trabalho nessa plataforma, entretanto ela aceita cópia de programas de textos (.doc, .txt etc).
    </p>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #2c3e50;
    }

    h2 {
        color: #34495e;
    }
</style>

