@{
    ViewData["Title"] = "Proposta";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<div style="line-height: 1.6; padding: 20px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); max-width: 800px; margin: auto; text-align: left;">
    Desenvolver um CRUD com o contexto do FORMAT: um aluno pode cadastrar um ou vários trabalhos.<br />
    Um professor pode orientar um ou vários trabalhos.<br />
    Os trabalhos possuem título, área, data de criação, status e seções.<br />
    As seções possuem um nome e um conteúdo.
</div>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #2c3e50;
    }
</style>
